{:aliases {:cljs-runner
             {:extra-deps {com.github.seancorfield/expectations {:mvn/version
                                                                   "2.0.143"},
                           olical/cljs-test-runner {:mvn/version "3.7.0"},
                           pjstadig/humane-test-output {:mvn/version "0.10.0"}},
              :extra-paths ["src" "test" "cljs-test-runner-out/gen"],
              :main-opts ["-m" "cljs-test-runner.main" "--doo-opts"
                          "dooopts.edn" "-x" "planck"]},
           :cljtest {:exec-fn cognitect.test-runner.api/test,
                     :extra-deps {com.github.seancorfield/expectations
                                    {:mvn/version "2.0.143"},
                                  io.github.cognitect-labs/test-runner
                                    {:git/tag "v0.5.1", :sha "dfb30dd"},
                                  pjstadig/humane-test-output {:mvn/version
                                                                 "0.10.0"}},
                     :extra-paths ["test"],
                     :main-opts ["-m" "cognitect.test-runner"]},
           :zprint {:main-opts ["-m" "zprint.main"]}},
 :deps {#_#_org.clojure/clojure {:mvn/version "1.9.0"},
        #_#_org.clojure/clojure {:mvn/version "1.10.3"},
        org.babashka/sci {:mvn/version "0.9.45"},
        rewrite-clj/rewrite-clj {:mvn/version "1.1.49"}},
 :paths ["src" "test" "cljs-test-runner-out/gen"]}
