#:cljdoc.doc{:tree
               [["Introduction" {:file "README.md"}]
                ["See zprint" {}
                 ["Classic zprint" {:file "doc/types/classic.md"}]
                 ["Respect blank lines" {:file "doc/types/respectbl.md"}]
                 ["Indent only" {:file "doc/types/indentonly.md"}]]
                ["Use zprint" {}
                 ["To Format Whole Files" {:file "doc/using/files.md"}]
                 ["While Using an Editor" {:file "doc/using/editor.md"}]
                 ["At the REPL" {:file "doc/using/repl.md"}]
		 ["With a Team" {:file "doc/using/team.md"}]
		 ["With Different Formatting for Different Projects" 
		   {:file "doc/using/project.md"}]
		 ["To Format a Range of Lines in a File" 
		   {:file "doc/using/range.md"}]
		 ["To Format a Babashka Script" {:file "doc/using/babashka.md"}]
		 ["To Correct Indentation but not otherwise Reformat a File" 
		   {:file "doc/using/indent.md"}]
		 ["And Have it Run Even Faster" 
		   {:file "doc/using/fasthang.md"}]
                 ["From Inside a Clojure(script) Program"
                  {:file "doc/using/library.md"}]]
                ["Get zprint" {}
                 ["standalone binary for macOS"
                  {:file "doc/getting/macos.md"}]
                 ["standalone binary for Linux"
                  {:file "doc/getting/linux.md"}]
                 ["uberjar for any Java enabled platform"
                  {:file "doc/getting/uberjar.md"}]
                 ["accelerated uberjar for any Java enabled platform"
                  {:file "doc/getting/appcds.md"}]
                 ["library to use at the REPL" {:file "doc/using/repl.md"}]
                 ["other ways to access zprint" {:file "doc/getting/other.md"}]]
                ["How do I change zprint's formatting?"
                 {:file "doc/altering.md"}]
                ["I want to change ..." {}
                 ["how user defined functions are formatted"
                  {:file "doc/options/fns.md"}]
                 ["the indentation in lists" {:file "doc/options/indent.md"}]
                 ["the configuration to track the \"community\" standard"
                  {:file "doc/options/community.md"}]
                 ["how blank lines in source are handled"
                  {:file "doc/options/blank.md"}]
                 ["how map keys are formatted" {:file "doc/options/maps.md"}]
                 ["the colors used for formatting source"
                  {:file "doc/options/colors.md"}]
                 ["how the second element of a pair is indented"
                  {:file "doc/options/pairs.md"}]
                 ["how comments are handled" {:file "doc/options/comments.md"}]
		 ["how blank lines are handled at the top level"
		   {:file "doc/options/toplevel.md"}]
                 ["anything else..."
                  {:file "doc/reference.md"}]]
		["Change Log" {:file "CHANGELOG.md"}]
		["File Comment API" {:file "doc/bang.md"}]
		["zprint Reference" {:file "doc/reference.md"}]
		  ]}

